gunicorn>=22.0.0
Django==5.0.4
python-decouple==3.8
psycopg2-binary==2.9.6
psycopg2==2.9.6
djangorestframework==3.15.1
python-decouple==3.8
Brotli==1.1.0
whitenoise==6.6.0
uvicorn==0.29.0
dj-database-url==2.1.0